* {
  font-family: Helvetica;
  list-style-type: none;
  margin: 0 auto;
  width: 90%;
}

.div2 {
  background-color: rgba(240, 99, 184, 0.15);
}

.twoWomen {
  width: 885px;
}

.pinkGraph {
  width: 475px;
}

.gridPic {
  width: 230px;
}

.profile {
  width: 90px;
  height: auto;
}

.demo {
  font-size: 16px;
  background: white;
  width: 210px;
  height: 60px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}