* {
  font-family: Helvetica;
  list-style-type: none;
  margin: 0 auto;
  width: 90%;
}

/* fonts */
h1 {
  font-size: 80px;
  margin: 0;
  width: 80%;
}

h2 {
  font-size: 40px;
}

p, li {
  font-family: Avenir;
}

p {
  font-size: 18px;
  margin: 0;
}

.gridText {
  font-size: 16px;
  border-radius: 50px;
  width: 40%;
  display: inline;
}

nav {
  display: flex;
  float: left;
  padding: 50px;
}

nav ul {
  display: flex;
  padding: 20px;
}

/* overall divs */
div {
  padding: 10px;
}

/* div 1 */
.firstText {
  width: 40%;
  padding: 30px 0;
}

/* div 2 */
.div2 {
  background-color: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}

/* div 3 */
.div3 {
  display: grid;
}

.center {
  text-align: center;
  width: 50%;
}

#search {
  background: rgba(104, 201, 186, 0.1);
}

#hours {
  background: rgba(156, 105, 226, 0.1);
}

#printOut {
  background: rgba(240, 99, 184, 0.1);
}

#security {
  background: rgba(45, 156, 219, 0.1);
}

/* div 4 */
.div4 {
  background-color: rgba(156, 105, 226, 1);
  border-radius: 50px;
  padding: 50px;
}

.review {
  background-color: white;
  margin: 25px;
  padding: 25px;
}

/* div 5 */
/* .div5 {
  padding: 50px;
} */

/* images */
.twoWomen {
  width: 885px;
  position: absolute;
  right: 100px;
  top: 333px;
}

.pinkGraph {
  width: 475px;
}

.gridPic {
  width: 230px;
  height: 200px;
}

.profile {
  width: 90px;
  height: auto;
}


/* buttons */
button {
  height: 60px;
}

.demo {
  float: right;
  font-size: 16px;
  background: white;
  width: 210px;
  border: 0;
  border-radius: 50px;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
}

.purpButton, .pinkButton {
  font-size: 18px;
  width: 170px;
  border: 0;
  border-radius: 50px;
  color: white;
}

.purpButton {
  background-color: rgba(156, 105, 226, 1);
}

.pinkButton {
  background: rgba(240, 99, 184, 1);
  float: right;
}